*{
 margin: 0px;
 padding: 0px;
 }
.wrapper{
  background: radial-gradient(#DF000B,#7D0103);
  height: 1000px;
  width: 1500px;
}
h3{
  color: white;
  padding-left: 30px;
  padding-bottom: 10px;
}
h1{
  color: white;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 30px;
}
h2{
  color: white;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top: 30px;
}
p{
  color: white;
  padding: 10px;
  padding-left: 40px;
}
.logout{
  padding-top: 30px;
  padding-left: 20px;
  display: inline-block;
}
.message{
  padding-left: 30px;
  display: inline-block;

}
#popular{
  padding-left: 20px;
  color: black;
}
