*{
 margin: 0px;
 padding: 0px;
 }
.wrapper{
  height: 700px;
  width: 1500px;
}
body{
  background-color: #0A0C0B;
  display: inline-block;
  position: absolute;
}
form{
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-family: 'Lora', serif;
  font-size: 30px;
  color: white;
  display: inline-block;
  z-index: 1;

}
h1{
  color: white;
  font-size: 40px;
  padding-left: 50px;
  padding-top: 20px;
  font-family: 'Timmana', sans-serif;
  z-index: 1;
}
img{
  margin-left: 100px;
  position: absolute;
  margin-top: -530px;
  z-index: -1;
  border-radius: 10px;
  height: 100%;
}
p{
  color: white;
  font-family: sans-serif;
  padding: 50px;
}
.title{
  color: white;
  font-size: 60px;
  padding-left: 450px;
  padding-top: 20px;
  font-family: 'Lora', serif;
  z-index: 1;
}
