body{
  background-image: url("http://cdn.history.com/sites/2/2015/03/hungry-history-vomitoriums-fact-or-fiction_Corbis-E.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
  color: white;padding-bottom: 30px;

}
.header{
  height: 150 px;
  text-align: center;
  font-family: sans-serif;
  color: white;
}
.tr{
  padding-right:
}
