<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Success</title>
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'secret_app/next.css' %}">
  </head>
  <body>
    <div class="wrapper">
    <form class="logout" action="/logout" method="post">
      {% csrf_token %}
      <input type="submit" name="" value="Log Out">
    </form>
    <a id='popular' href="/popular">Most Popular Secrets</a><br>
    {% if request.session.action == "registered" %}
    <h1>Welcome, {{new_username}}!</h1>
    {% else %}
    <h1>Welcome back, {{new_username}}!</h1>
    {% endif %}

    <h3>Post your Secrets Here</h3>
    <form class="message" action="/message" method="post">
      {% csrf_token %}
      <textarea name="content" rows="8" cols="80"></textarea>
      <input type="submit" name="submit" value="Post">
    </form>
    <h2>Recent Secrets</h2>
    {% for secret in secrets %}
      {% if secret.user_id.id == request.session.user %}
        <p>{{ secret.content}} ({{secret.created_at}}) {{secret.likes.count}} likes <a href="/delete/{{secret.id}}/secrets">Delete Secret</a></p>
      {% else %}
        <p>{{ secret.content}} ({{secret.created_at}}) {{secret.likes.count}} likes <a href="/like/{{secret.id}}/secrets">like</a></p>
      {% endif %}
      <!-- {% if likes.user_id.id == request.session.user %}
      <p>{{ secret.content}} ({{secret.created_at}}) {{secret.likes.count}} You liked this</p>
      {% endif %} -->
    {% endfor %}
    </div>



  </body>
</html>

<!-- secret.likes.count() -->
