<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form action='/result' method='POST'>
      Email:<input type="text" name="email">
      First Name:<input type="text" name="first">
      Last Name:<input type="text" name="last">
      Password:<input type="text" name="password">
      Confirm Password:<input type="text" name="confirm">
      <input type="submit" value="Submit">
    </form>

  </body>
</html>
